*{
    box-sizing: border-box;
}
:root{
    --myWidth: 150px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.controls,
.gameOver,
.win{
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #2195f3d0;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

}

.gameOver{
    color: #fff;
    background-color: #f44336d0;
    text-align: center;
}
.gameOver h1{
    font-size: 50px;
    font-weight: 800;
}

.win{
    color: #fff;
    background-color: #3cf436b4;
    text-align: center;
}
.win h1{
    font-size: 50px;
    font-weight: 800;
}

.controls li{
    margin: 50px;
    display: block;
    color: #fff;
    background-color: #f44336;
    padding: 10px 25px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;

}
.info{
    width: 1080px;
    margin: 20px auto 0;
    background-color: #f6f6f6;
    padding: 20px;
    font-size: 24px;
    overflow: hidden;
    border: 2px solid #2196f3;
    display: flex;
    justify-content: space-between;
}

.gameContainer{
    display: flex;
    max-width: fit-content;
    flex-wrap: wrap;
    margin: 20px auto;
    gap: 20px;

}
.gameContainer.noClicking{
    pointer-events: none;
}
.gameContainer .gameBlock{
    height: var(--myWidth);
    transform-origin: center;
    transition: transform .5s;
    transform-style: preserve-3d;
    cursor: pointer;
}
.gameContainer .gameBlock .front{
    background-color: #333;
    line-height: var(--myWidth);

}
.gameContainer .gameBlock .front::before{
    content: '?';
    color: #fff;
    font-size: calc(var(--myWidth) - 30px);
    font-weight: bold;
}
.gameContainer .gameBlock .back{
    background-color: #607d8b;
    transform: rotateY(180deg);
}

.gameContainer .gameBlock .face{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    border: 5px solid #2196f3;
}
.gameContainer .gameBlock.matched,
.gameContainer .gameBlock.flipped{
    transform: rotateY(180deg);
    pointer-events: none;

}



.myMark{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
    width: fit-content;
    color: #fff;
    background-color: #333;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 10px;
    animation: appire 1s, disappire 1s 7s forwards;
}
.delete{
    display: none;
}

.myMark a{
    background-color: #2196f3;
    border: 2px solid #2196f3;
    margin: 5px;
}
.myMark a:hover{
    background-color: transparent;
    color: #2196f3 !important;
    border: 2px solid #2196f3;

}
.myMark h5{
    margin: 5px;
}
.myMark span{
    color: #2196f3;
    font-weight: 900;
}

@keyframes appire{
    from{
        right: -1000px;
    }
    to{
        right: 10px;
    }
}

@keyframes disappire{
    from{
        right: 10px;
    }
    to{
        right: -1000px;
        display: none;
    }
}

@media screen and (max-width: 768px) {
    :root{
        --myWidth: 90px;
    }
    .info{
        width: auto;
        margin: 20px;
        font-size: 15px;
    }
    .controls li{
        font-size: 20px;
    
    }
    .gameContainer{
        gap: 12px;
    }
    .gameBlock{
        width: 22%;

    }
    .myMark h5{
        margin: 5px;
        font-size: 15px;
    }
    
}